<!DOCTYPE html>
<html lang="en">
<head>
    <!--  Так подключают статические файлы   -->
    {% load static %}
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>Hello World!</h1>

{% if request.user.is_authenticated %}
    <p>You are logged in as {{ request.user.username }}</p>
<form method="get" action="{% url 'users:password_change' %}">
    {% csrf_token %}
    <button type="submit">Сменить пароль</button>
</form>
{% endif %}
<form method="post" action="{% url 'users:logout' %}">
    {% csrf_token %}
    <button type="submit">Log Out</button>
</form>
</body>
</html>