.container-line {
    position: relative;
    display: flex;
    grid-gap: 20px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    font-family: "Roboto", sans-serif;
    font-size: 17px;
    background-color: rgba(75, 31, 99, 0.99);
    width: 350px;
    margin: 0 auto;
    margin-top: 60px;
    padding: 30px;
    border-radius: 20px;
    opacity: 80%;
    backdrop-filter: blur(5px);
    transition: all 0.3s;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.5);
}
.container-line::after{

}
.btn-log{
    margin: 0 auto;
    border-radius: 20px;
    border: none;
    background-color: #320869;
    height: 50px;
    font-size: 18px;
    transition: 0.5s;
}
.btn-log:hover {
    background-color: #db3e00;
    cursor: pointer;
}
input, .btn-log {
  padding: 10px;
  border: none;
  border-radius: 8px;
  backdrop-filter: blur(4px);
  background: rgba(255, 255, 255, 0.2);
  transition: all 0.3s;
}
input {
    width: 100%;
}

input::placeholder, button {
  color: #fff;
}

input:focus, button:hover {
  background: rgba(2, 217, 255, 0.549);
  outline: none;
}

button {
  cursor: pointer;
}
p{
    display: inline;
}
@keyframes square-moving {
  0%,100% {
    transform: translateY(-20px);
  }

  50% {
    transform: translateY(20px);
  }
}

  .square {
    position: absolute;
    background: rgba(72, 0, 196, 0.25);
    backdrop-filter: blur(5px);
    box-shadow: 0 25px 45px rgba(0, 0, 0, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.15);
    border-radius: 15px;
    animation: square-moving 10s linear infinite;
    animation-delay: calc(-1s * var(--i));
  }

  .square:nth-child(1) {
    width: 100px;
    height: 100px;
    top: -60px;
    right: -45px;
  }

  .square:nth-child(2) {
    width: 150px;
    height: 150px;
    top: 55px;
    left: -175px;
    z-index: 2;
  }

  .square:nth-child(3) {
    width: 60px;
    height: 60px;
    bottom: 85px;
    right: -45px;
    z-index: 2;
  }

  .square:nth-child(4) {
    width: 50px;
    height: 50px;
    bottom: 5px;
    left: -95px;
  }

  .square:nth-child(5) {
    width: 50px;
    height: 50px;
    top: -15px;
    left: -25px;
  }

  .square:nth-child(6) {
    width: 85px;
    height: 85px;
    top: 165px;
    right: -155px;
    z-index: 2;
  }
.container{
     position: relative;
     width: 350px;
     margin: 0 auto;
}