.container {
    display: flex;
    flex-direction: column;
}
.center-container{
    align-items: center;
}
.img{
    border-radius: 20px;
}
.info-container{
    width: 500px;
    position: relative;
    left: 0;
}