:root{
    --post-size: 530px;
}

.post {
    width: 530px;
    height: 550px;
    background-color: white;
    margin-bottom: 20px;
    border-radius: 20px;
}

.post-img{
    width: 85%;
    height: 70%;
    border-radius: 20px;
    margin: 0 auto;
    margin-top: 15px;
}

.post-title {
    margin-left: 10px;
    text-decoration: none;
    color: black;
}

.container-author {
    display: flex;
    margin: 10px 0 0 10px;
}

.name-data-container {
    margin-left: 10px;
}

.avatar {
    width: 50px;
    height: 50px;
    background-color: grey;
    border-radius: 50%;
}

.container {
    position: absolute;
    right: 0;
    display: flex;
    height: 100%;
    width: calc(100% - 160px);
    flex-direction: column;
    align-items: center;
}

.searchbar-container {
    width: var(--post-size);
    display: block;
}

.input {
    width: 100%;
    height: 50px;
    border-radius: 18px;
    font-size: 1rem;
    margin: 15px 0 35px 0;
    font-family: "Roboto", sans-serif;
    border: none;
    transition: all 0.3s ease-in-out;
    outline: none;
    padding: 10px;
    &:focus{
        border: none;
        background: #fccfcf;
        transition: 0.35s ease;
        color: #363636;
        &::-webkit-input-placeholder{
            transition: opacity 0.45s ease;
            opacity: 0;
        }
    }
}

.input::placeholder{
    margin-left: 100px;
}