{% extends 'base.html' %}
{% load static %}

{% block links %}
<link rel="stylesheet" href="{% static 'post-page-style.css' %}">
<link rel="stylesheet" href="{% static 'posts-list-style.css' %}">
<link rel="stylesheet" href="{% static 'menu-style.css' %}">
{% endblock links %}

{% block title %}
<meta charset="UTF-8">
<title>Title</title>
{% endblock title %}

{% block content %}
{{ post.title }}
<div class="container">
    <br>
    <br>
    <img src="/media/{{ post.img }}" alt="" width="500px" height="500px">
    <br>
    <br>
    {{ post.content | safe }}
    <br>
    <br>
</div>
{{ post.karma }}
{% endblock content %}