{% extends 'base.html' %}
{% load static %}

{% block links %}
<link rel="stylesheet" href="{% static 'post-page-style.css' %}">
<link rel="stylesheet" href="{% static 'posts-list-style.css' %}">
<link rel="stylesheet" href="{% static 'menu-style.css' %}">
{% endblock links %}

{% block title %}
<meta charset="UTF-8">
<title>Title</title>
{% endblock title %}

{% block content %}

<div class="container">
    <br>
    <br>
    <img src="/media/{{ post.img }}" alt="" width="500px" height="500px" class="img">
    <br>
    <div class="info-container">
    <h2>{{ post.title }}</h2>
    <br>
    <h3>{{ post.content | safe }}</h3>
    <br>
    {{ post.karma }}
    </div>
    <br>
</div>

{% endblock content %}