<!-- Страница со списком постов (карточками постов) -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    {% for post in posts_list %}
    <a href="{% url 'post_page' slug=post.slug %}">{{ post.title }}</a>
     <br>
        <img src="/media/{{ post.img }}" alt="Post Image" width="500px" height="500px">
    <br>
        {{ post.published_time }}
    <br>
        {{ post.karma }}
    <br>
    <br>
    <br>

    <form action="{% url 'post_like' slug=post.slug %}" method="POST">
        {% csrf_token %}
        <span> {{ post.like.count}} </span>
        <button type="submit">like</button>
    </form>

        <form action="{% url 'post_dislike' slug=post.slug %}" method="POST">
        {% csrf_token %}
        <span> {{ post.dislike.count }} </span>
        <button type="submit">dislike</button>
    </form>

    {% endfor %}
</body>
</html>